<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Género</title>
</head>
<body>

<h1>Editar Género</h1>

<form th:action="@{/genders/guardar}" method="post">

    <input type="hidden" name="gender_id" th:value="${gender.gender_id}" />

    <div>
        <label>Nombre del Género:</label>
        <input type="text" name="nombreGender" th:value="${gender.gender}" required />
    </div>

    <br>
    <button type="submit">Guardar Cambios</button>
    <a th:href="@{/gender}">Cancelar</a>
</form>

</body>
</html>