<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genre</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div>
    <div>Añadir Nuevo Género</div>
    <div>
        <form th:action="@{/generos/guardar}" method="post">
            <div>
                <input type="text" name="nombreGenero" class="form-control" placeholder="Nombre del género" required>
            </div>
            <div class="col-auto">
                <button type="submit">Añadir</button>
            </div>
        </form>
    </div>
</div>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="g : ${genre}">
        <td th:text="${g.genre_id}"></td>
        <td th:text="${g.genre_name}"></td>
        <td>
            <a th:href="@{/genre/editar/{id}(id=${g.genre_id})}">Editar</a>
            <a th:href="@{/genre/eliminar/{id}(id=${g.genre_id})}"
               onclick="return confirm('¿Seguro?')">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>