<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Idioma</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav>
    <a th:href="@{/}">Inicio</a>
    <a th:href="@{/movies}">Películas</a>
    <a th:href="@{/genre}">Géneros</a>
    <a th:href="@{/keyword}">Keywords</a>
    <a th:href="@{/country}">Países</a>
    <a th:href="@{/language}">Idiomas</a>
    <a th:href="@{/gender}">Géneros</a>
    <a th:href="@{/person}">Personas (Cast/Crew)</a>
</nav>

<h1>Editar Idioma</h1>

<form th:action="@{/languages/guardar}" method="post">

    <input type="hidden" name="language_id" th:value="${language.language_id}" />

    <div>
        <label>Código del Idioma:</label>
        <input type="text" name="code" th:value="${language.language_code}" required />
    </div>

    <div>
        <label>Nombre del Idioma:</label>
        <input type="text" name="nombreLanguage" th:value="${language.language_name}" required />
    </div>

    <br>
    <button type="submit">Guardar Cambios</button>
    <a th:href="@{/language}">Cancelar</a>
</form>

</body>
</html>