<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pelis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container mt-5">
    <div class="row justify-content-between align-items-center mb-4">
        <div class="col">
            <h1>Buscador de Películas</h1>
        </div>
        <div class="col-auto">
            <a th:href="@{/movies/nuevo}" class="btn btn-primary">+ Nueva Película</a>
        </div>
    </div>

    <form th:action="@{/movies}" method="get" class="row g-2 mb-3">
        <div class="col-auto">
            <input class="form-control form-control-sm" th:value="${title}" type="text" name="title" placeholder="titulo...">
        </div>
        <div class="col-auto">
            <input class="form-control form-control-sm" th:value="${actor}" type="text" name="actor" placeholder="actor..">
        </div>
        <div class="col-auto">
            <input class="form-control form-control-sm" th:value="${genre}" type="text" name="genre" placeholder="genero...">
        </div>
        <div class="col-auto">
            <input type="hidden" name="page" th:value="${page}" />
            <input type="hidden" name="size" th:value="${size}" />
            <button type="submit" class="btn btn-sm btn-primary">Buscar</button>
            <a th:href="@{/movies}" class="btn btn-sm btn-secondary">Reset</a>
        </div>
    </form>

    <hr>
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Películas</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Géneros</th>
                        <th>Fecha Lanzamiento</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m : ${movies}">
                        <td th:text="${m.movie_id}"></td>
                        <td th:text="${m.title}"></td>
                        <td>
                            <ul>
                                <li th:each="g : ${m.genres}" th:text="${g.genre_name}"></li>
                            </ul>
                        </td>
                        <td th:text="${#dates.format(m.release_date, 'dd/MM/yyyy')}"></td>
                        <td>
                            <a th:href="@{/movies/detalles/{id}(id=${m.movie_id})}" class="btn btn-sm btn-primary">Detalles</a>
                            <a th:href="@{/movies/editar/{id}(id=${m.movie_id})}" class="btn btn-sm btn-warning">Editar</a>
                            <a th:href="@{/movies/eliminar/{id}(id=${m.movie_id})}"
                               onclick="return confirm('Eliminar?')" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:if="${moviesPage != null}" class="d-flex justify-content-center mb-4">
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${moviesPage.first} ? 'disabled'">
                    <a class="page-link" th:href="@{/movies(title=${title},actor=${actor},genre=${genre},page=${moviesPage.number-1},size=${moviesPage.size})}">Anterior</a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">Página <span th:text="${moviesPage.number + 1}">1</span> de <span th:text="${moviesPage.totalPages}">1</span></span>
                </li>
                <li class="page-item" th:classappend="${moviesPage.last} ? 'disabled'">
                    <a class="page-link" th:href="@{/movies(title=${title},actor=${actor},genre=${genre},page=${moviesPage.number+1},size=${moviesPage.size})}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
    <p th:if="${#lists.isEmpty(movies)}">No se han encontrado peluiculas.</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>